body{
    background-image: url("Stupa_Borobudur.jpg");
    background-size: cover;
}

.satu{
  background-image: url("avocado.jpg");
  background-repeat: repeat-y;
  background-size: 555px;
}

p{
	margin-right: 800px;
	text-align: center;
	color: blue;
}

p.dua{
	color: #006400;
}

p.tiga{
	color: red;
}